# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
.eggs/

# Generated version file
python/src/ndslive/math/_version.py

# Virtual environments
venv/
env/
.venv/

# IDE-specific files
.vscode/
.idea/

# Misc
.DS_Store
